button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #2c3e50;
  font-family: "Avenir Next", "Avenir", "Proxima Nova", "proxima-nova", "Helvetica Neue", "Helvetica", sans-serif;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", "Helvetica", sans-serif; }

h1, h2, h3, h4, h5, h6, p, label, input, select {
  color: #2c3e50;
  font-family: "Avenir Next", "Avenir", "Proxima Nova", "proxima-nova", "Helvetica Neue", "Helvetica", sans-serif;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", "Helvetica", sans-serif; }

.input-group {
  margin-bottom: 2rem;
  position: relative; }

.input-group__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem; }

.input-group__toggle {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  right: 0.5rem;
  cursor: pointer; }
  .input-group__toggle:after, .input-group__toggle:before {
    content: "";
    background: #2ecc71;
    width: 1.5rem;
    height: 0.375rem;
    position: absolute;
    top: 0.5rem;
    transition: all 0.25s ease-in-out; }
  .input-group__toggle:before {
    -webkit-transform: rotate(0);
    transform: rotate(0); }

.input-group--collapsed .input-group__toggle:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  font-family: inherit;
  outline: 0.5rem solid transparent;
  border: 1px solid #2c3e50;
  transition: border-color 0.25s ease-in-out, outline 0.25s ease-in-out;
  box-shadow: none; }

input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
  border-color: #2c3e50; }

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  outline: 2px solid #2c3e50; }

.check-group .check__label {
  margin-bottom: 0; }

.check-component-blue, .check-component-green, .check-component-yellow, .check-component-orange, .check-component-red, .check-component-purple, .check-component-base {
  display: block; }
  .check-component-blue .check__input, .check-component-green .check__input, .check-component-yellow .check__input, .check-component-orange .check__input, .check-component-red .check__input, .check-component-purple .check__input, .check-component-base .check__input {
    display: none; }
  .check-component-blue .check__label, .check-component-green .check__label, .check-component-yellow .check__label, .check-component-orange .check__label, .check-component-red .check__label, .check-component-purple .check__label, .check-component-base .check__label {
    display: block;
    padding: 0.5em 1rem;
    position: relative;
    color: white;
    cursor: pointer;
    user-select: none; }
    .check-component-blue .check__label:before, .check-component-green .check__label:before, .check-component-yellow .check__label:before, .check-component-orange .check__label:before, .check-component-red .check__label:before, .check-component-purple .check__label:before, .check-component-base .check__label:before {
      content: "";
      position: absolute;
      right: 0.5em;
      width: 1.25rem;
      height: 1.25rem;
      background: white; }
    .check-component-blue .check__label:after, .check-component-green .check__label:after, .check-component-yellow .check__label:after, .check-component-orange .check__label:after, .check-component-red .check__label:after, .check-component-purple .check__label:after, .check-component-base .check__label:after {
      content: "";
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
      width: 0.75rem;
      height: 0.75rem; }

.check-component-blue .check__input:not(:checked) + .check__label {
  background: rgba(52, 152, 219, 0.5); }
.check-component-blue .check__input:not(:checked) + .check__label:hover {
  background: rgba(52, 152, 219, 0.67); }
.check-component-blue .check__input:checked + .check__label {
  background: #3498db; }
.check-component-blue .check__input:checked + .check__label:after {
  background: #3498db; }

.check-component-green .check__input:not(:checked) + .check__label {
  background: rgba(46, 204, 113, 0.5); }
.check-component-green .check__input:not(:checked) + .check__label:hover {
  background: rgba(46, 204, 113, 0.67); }
.check-component-green .check__input:checked + .check__label {
  background: #2ecc71; }
.check-component-green .check__input:checked + .check__label:after {
  background: #2ecc71; }

.check-component-yellow .check__input:not(:checked) + .check__label {
  background: rgba(241, 196, 15, 0.5); }
.check-component-yellow .check__input:not(:checked) + .check__label:hover {
  background: rgba(241, 196, 15, 0.67); }
.check-component-yellow .check__input:checked + .check__label {
  background: #f1c40f; }
.check-component-yellow .check__input:checked + .check__label:after {
  background: #f1c40f; }

.check-component-orange .check__input:not(:checked) + .check__label {
  background: rgba(230, 126, 34, 0.5); }
.check-component-orange .check__input:not(:checked) + .check__label:hover {
  background: rgba(230, 126, 34, 0.67); }
.check-component-orange .check__input:checked + .check__label {
  background: #e67e22; }
.check-component-orange .check__input:checked + .check__label:after {
  background: #e67e22; }

.check-component-red .check__input:not(:checked) + .check__label {
  background: rgba(231, 76, 60, 0.5); }
.check-component-red .check__input:not(:checked) + .check__label:hover {
  background: rgba(231, 76, 60, 0.67); }
.check-component-red .check__input:checked + .check__label {
  background: #e74c3c; }
.check-component-red .check__input:checked + .check__label:after {
  background: #e74c3c; }

.check-component-purple .check__input:not(:checked) + .check__label {
  background: rgba(155, 89, 182, 0.5); }
.check-component-purple .check__input:not(:checked) + .check__label:hover {
  background: rgba(155, 89, 182, 0.67); }
.check-component-purple .check__input:checked + .check__label {
  background: #9b59b6; }
.check-component-purple .check__input:checked + .check__label:after {
  background: #9b59b6; }

.check-component-base .check__input:not(:checked) + .check__label {
  background: rgba(44, 62, 80, 0.5); }
.check-component-base .check__input:not(:checked) + .check__label:hover {
  background: rgba(44, 62, 80, 0.67); }
.check-component-base .check__input:checked + .check__label {
  background: #2c3e50; }
.check-component-base .check__input:checked + .check__label:after {
  background: #2c3e50; }

.switch-component {
  font-weight: bold;
  text-transform: uppercase; }
  .switch-component .switch__description {
    text-align: center;
    margin-bottom: 0.5em; }
  .switch-component .switch__option {
    border: 1px solid #2c3e50;
    color: #2c3e50; }
    .switch-component .switch__option:last-of-type {
      border-top: none; }
  .switch-component .switch__option--inline {
    float: left;
    width: 50%; }
    .switch-component .switch__option--inline:last-of-type {
      border-top: 1px solid;
      border-left: none; }
  .switch-component .switch__input {
    display: none; }
  .switch-component .switch__label {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0.5em;
    cursor: pointer; }
  .switch-component .switch__input:checked + .switch__label {
    color: #2ecc71;
    background: #2c3e50;
    border-color: #2c3e50;
    cursor: default; }
  .switch-component:after {
    content: "";
    display: table;
    clear: both; }

.page-wrapper {
  display: flex; }

.control-pane {
  max-height: 100vh;
  overflow-y: scroll;
  width: 16em;
  padding: 1em;
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2); }

.chart-pane {
  background: #eeeeee;
  height: 100vh;
  flex: 1; }

.input-select-component {
  margin-top: 1rem; }

.menu-toggle {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 30px;
  margin: 0;
  position: fixed;
  right: 2rem;
  top: 2rem;
  cursor: pointer; }
  .menu-toggle span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    width: 2rem;
    height: 6px;
    background-color: #2c3e50;
    display: block; }
    .menu-toggle span:before, .menu-toggle span:after {
      position: absolute;
      content: ""; }
    .menu-toggle span:before, .menu-toggle span:after {
      width: 2rem;
      height: 6px;
      background-color: #2c3e50;
      display: block; }
    .menu-toggle span:before {
      margin-top: -12px; }
    .menu-toggle span:after {
      margin-top: 12px; }
  .menu-toggle.menu-toggle--x span {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition-delay: 0.2s; }
  .menu-toggle span:before {
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0; }
  .menu-toggle.menu-toggle--x span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    -webkit-transition-delay: 0, 0.2s; }
  .menu-toggle span:after {
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0; }
  .menu-toggle.menu-toggle--x span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    -webkit-transition-delay: 0, 0.2s; }
