---
layout: default
title: NFL Scatterplotter
---

<div class="navbar">
  <h1 class="navbar__title">NFL Plotter</h1>
</div>

<span class="menu-toggle">
  <span></span>
</span>

<div class="page-wrapper">
  <div class="control-pane">

    {% include plotter/html/player-position-switch.html %}

    {% include plotter/html/input-group--positions.html %}

    {% include plotter/html/input-group--players.html %}
    
    {% include plotter/html/input-group--seasons.html %}
    
    {% include plotter/html/input-group--variables.html %}

    {% include plotter/html/game-season-switch.html %}

    {% include plotter/html/input-group--control-buttons.html %}

    <p class="text-center">
      <small>© 2014 &mdash; Nick Bottomley</small>
    </p>
    <p class="text-center">
      <small>
        <a href="https://github.com/nickb1080/plotter-redux">Code on GitHub</a>
      </small>
    </p>
  </div>

  <div class="chart-pane">
    <div class="chart-viewer"></div>
    <div class="chart-info-bar"></div>
  </div>



</div>