<div class="input-group" id="input-group--gs-switch">
  <div class="switch-component">
    <p class="switch__description">Pick one</p>
    <div class="switch__option">
      <input type="radio" name="gs-switch" id="gsSwitchGame" value="game" class="switch__input"/>
      <label for="gsSwitchGame" class="switch__label">Game Average</label>
    </div>
    <div class="switch__option">
      <input type="radio" name="gs-switch" id="gsSwitchSeason" value="season" class="switch__input"/>
      <label for="gsSwitchSeason" class="switch__label">Season Total</label>
    </div>
  </div>
</div>