<div class="input-group" id="input-group--positions">
  
  <h2 class="input-group__title">Positions</h2>
  <span class="input-group__toggle"></span>
  
  <div class="input-group__content check-group">
    <div class="check-component-blue">
      <input type="checkbox" id="check-qb" class="check__input"/>
      <label for="check-qb" class="check__label">Quarterbacks</label>
    </div>
    <div class="check-component-green">
      <input type="checkbox" id="check-rb" class="check__input"/>
      <label for="check-rb" class="check__label">Running Backs</label>
    </div>
    <div class="check-component-yellow">
      <input type="checkbox" id="check-te" class="check__input"/>
      <label for="check-te" class="check__label">Tight Ends</label>
    </div>
    <div class="check-component-orange">
      <input type="checkbox" id="check-wr" class="check__input"/>
      <label for="check-wr" class="check__label">Wide Receivers</label>
    </div>
  </div>
  
</div>