<div class="input-group" id="input-group--positions">
  
  <h2 class="input-group__title">Positions</h2>
  <span class="input-group__toggle"></span>
  
  <div class="input-group__content check-group">

    {% for position in site.data.positions %}

    <div class="check-component-{{ position.color }}">
      <input type="checkbox" id="check-{{ position.abbr }}" class="check__input" value="{{ position.abbr | upcase }}"/>
      <label for="check-{{ position.abbr }}" class="check__label">{{ position.long_name | upcase }}</label>
    </div>

    {% endfor %}
    
  </div>
  
</div>