<div class="input-group" id="input-group--variables">
  
  <div class="input-group__content">

    <div class="control-component button-component">
      <button 
        class="btn btn-ghost btn-primary" 
        id="control-button--render">
        RENDER CHART
      </button>
    </div>

    <div class="control-component button-component">
      <button 
        class="btn btn-ghost btn-secondary" 
        id="control-button--highlight">
        HIGHLIGHT MODE
      </button>
    </div>

  </div>
  
</div>