<div class="input-group" id="input-group--variables">
  
  <h2 class="input-group__title">Variables</h2>
  <span class="input-group__toggle"></span>
  
  <div class="input-group__content">
    <div class="">
      <select class="input-select input-select--variables">
        {% include plotter/html/variable-options.html %}
      </select>
    </div>
    <div class="">
      <select class="input-select input-select--variables">
        {% include plotter/html/variable-options.html %}
      </select>
    </div>
    <div class="">
      <select class="input-select input-select--variables">
        {% include plotter/html/variable-options.html %}
      </select>
    </div>
    <div class="">
      <select class="input-select input-select--variables">
        {% include plotter/html/variable-options.html %}
      </select>
    </div>
  </div>
  
</div>