<div class="input-group" id="input-group--pp-switch">
  <div class="switch-component">
    <p class="switch__description">Pick one</p>
    <div class="switch__option">
      <input type="radio" name="pp-switch" id="ppSwitchPosition" value="positions" class="switch__input"/>
      <label for="ppSwitchPosition" class="switch__label">By Position</label>
    </div>
    <div class="switch__option">
      <input type="radio" name="pp-switch" id="ppSwitchPlayer" value="players" class="switch__input"/>
      <label for="ppSwitchPlayer" class="switch__label">By Player</label>
    </div>
  </div>
</div>