<option></option>
<optgroup label="Passing">
  <option data-stat="PassComp">Pass Completions</option>
  <option data-stat="PassAtt">Pass Attempts</option>
  <option data-stat="PassYds">Pass Yards</option>
  <option data-stat="PassTD">Pass TD</option>
  <option data-stat="PassINT">Interceptions</option>
</optgroup>
<optgroup label="Rushing">
  <option data-stat="RushAtt">Rush Attempts</option>
  <option data-stat="RushYds">Rush Yards</option>
  <option data-stat="RushTD">Rush TD</option>
  <option data-stat="RushYPA">Yards per Rush</option>
</optgroup>
<optgroup label="Receiving">
  <option data-stat="Recs">Receptions</option>
  <option data-stat="RecYards">Receiving Yards</option>
  <option data-stat="RecYPR">Yards per Reception</option>
  <option data-stat="RecTD">Receiving Touchdowns</option>
</optgroup>
<optgroup label="Total">
  <option data-stat="ScrimYds">Total Scrimmage Yards</option>
  <option data-stat="TotalTD">Total Touchdowns</option>
</optgroup>
<optgroup label="Fantasy">
  <option data-stat="FantPt">Fantasy Points</option>
  <option data-stat="PosRank">Fantasy Position Rank</option>
  <option data-stat="VBD">VBD Points</option>
  <option data-stat="OvRank">VBD Rank</option>
</optgroup>
<optgroup label="Misc.">
  <option data-stat="Season">Season</option>
  <option data-stat="Age">Age</option>
  <option data-stat="G">Games Played</option>
  <option data-stat="GS">Games Started</option>
</optgroup>