@import "colors"

// http://codepen.io/vmathew/pen/KDxvi
.menu-toggle
  position: relative
  display: inline-block
  width: 2rem
  height: 30px
  margin: 0
  position: fixed
  right: 1rem
  top: 1rem
  cursor: pointer
  z-index: 8000
  span
    margin: 0 auto
    position: relative
    top: 12px
    -webkit-transition-duration: 0s
    -webkit-transition-delay: .2s
    &:before, &:after
      position: absolute
      content: ''
    width: 2rem
    height: 6px
    background-color: $color-theme-accent
    display: block
    &:before, &:after
      width: 2rem
      height: 6px
      background-color: $color-theme-accent
      display: block
    &:before
      margin-top: -12px
    &:after
      margin-top: 12px
  // &:hover span
  &.menu-toggle--x span
    background-color: rgba(0, 0, 0, 0)
    -webkit-transition-delay: .2s
  span:before
    -webkit-transition-property: margin, -webkit-transform
    -webkit-transition-duration: .2s
    -webkit-transition-delay: .2s, 0
  // &:hover span:before
  &.menu-toggle--x span:before
    margin-top: 0
    -webkit-transform: rotate(45deg)
    -webkit-transition-delay: 0, .2s
  span:after
    -webkit-transition-property: margin, -webkit-transform
    -webkit-transition-duration: .2s
    -webkit-transition-delay: .2s, 0
  // &:hover span:after
  &.menu-toggle--x span:after
    margin-top: 0
    -webkit-transform: rotate(-45deg)
    -webkit-transition-delay: 0, .2s

$navbar-height: 4rem
.navbar
  z-index: 2000
  position: fixed
  height: $navbar-height
  width: 100%
  background: $color-theme-base
  -webkit-transform: translate3d(0, -$navbar-height, 0)
  transform: translate3d(0, -$navbar-height, 0)
  transition: all .3s ease-in-out
  transition-delay: .1s
  box-shadow: 0 0 0 0 transparent
  left: 0
  top: 0

.navbar-open 
  .navbar
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    transition-delay: 0
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5)
  .page-wrapper
    padding-top: $navbar-height
    height: calc(100vh - $navbar-height)
    transition-delay: .1s

