.menu-toggle {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 30px;
  margin: 0;
  position: fixed;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  z-index: 8000; }
  .menu-toggle span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    width: 2rem;
    height: 6px;
    background-color: #2ecc71;
    display: block; }
    .menu-toggle span:before, .menu-toggle span:after {
      position: absolute;
      content: ""; }
    .menu-toggle span:before, .menu-toggle span:after {
      width: 2rem;
      height: 6px;
      background-color: #2ecc71;
      display: block; }
    .menu-toggle span:before {
      margin-top: -12px; }
    .menu-toggle span:after {
      margin-top: 12px; }
  .menu-toggle.menu-toggle--x span {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition-delay: 0.2s; }
  .menu-toggle span:before {
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0; }
  .menu-toggle.menu-toggle--x span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    -webkit-transition-delay: 0, 0.2s; }
  .menu-toggle span:after {
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0; }
  .menu-toggle.menu-toggle--x span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    -webkit-transition-delay: 0, 0.2s; }

.navbar {
  z-index: 2000;
  position: fixed;
  height: 4rem;
  width: 100%;
  background: #2c3e50;
  -webkit-transform: translate3d(0, -4rem, 0);
  transform: translate3d(0, -4rem, 0);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  box-shadow: 0 0 0 0 transparent;
  left: 0;
  top: 0; }

.navbar-open .navbar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-delay: 0;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5); }
.navbar-open .page-wrapper {
  padding-top: 4rem;
  height: calc(100vh - $navbar-height);
  transition-delay: 0.1s; }
