.switch-component {
  font-weight: bold;
  text-transform: uppercase; }
  .switch-component .switch__description {
    text-align: center;
    margin-bottom: 0.5em; }
  .switch-component .switch__option {
    border: 1px solid #2c3e50;
    color: #2c3e50; }
    .switch-component .switch__option:last-of-type {
      border-top: none; }
  .switch-component .switch__option--inline {
    float: left;
    width: 50%; }
    .switch-component .switch__option--inline:last-of-type {
      border-top: 1px solid;
      border-left: none; }
  .switch-component .switch__input {
    display: none; }
  .switch-component .switch__label {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0.5em;
    cursor: pointer; }
  .switch-component .switch__input:checked + .switch__label {
    color: #2ecc71;
    background: #2c3e50;
    border-color: #2c3e50;
    cursor: default; }
  .switch-component:after {
    content: "";
    display: table;
    clear: both; }
